[2022-01-20 20:33] gmax0 opened #19 "Resource Suggestion"
I wonder if it'd be valuable to have a section pointing out some of the risks on a technical/market microstructure level to traders and consumers. Perhaps this might be too far down the rabbit hole.

Examples that come to mind (Ethereum DeFi risks)
https://arxiv.org/abs/2101.05511
https://arxiv.org/pdf/2009.14021.pdf
https://arxiv.org/pdf/2009.14021.pdf
https://www.coindesk.com/tech/2020/12/29/new

[2022-01-21 14:53] rufuspollock commented on #19
@gmax0 I think these are great items to have e.g. in a section about risks and market manipulation at this level.

[2022-01-23 14:02] rufuspollock opened #24 "Bitcoin pyramid schemes wreak havoc on Brazil’s ‘New Egypt’"
https://apnews.com/article/cryptocurrency-technology-business-brazil-bitcoin-2dc801e5e3aa477ce7983d84dc8a64bb

[2022-01-25 16:18] jqnatividad opened #27 "Tim O'Reilly on Web3"
Here's another good one -
https://www.oreilly.com/radar/why-its-too-early-to-get-excited-about-web3/

[2022-01-25 18:29] max-arnold opened #28 "A couple of oldies but goodies"
1. https://blog.gardeviance.org/2013/11/a-spoiler-for-future-bitcoin.html A prediction about Bitcoin made in 2013 by Simon Wardley. Particularly interesting bits are related to taxation issues
2. https://hackernoon.com/ten-years-in-nobody-has-come-up-with-a-use-case-for-blockchain-ee98c180100 Very good comparison of various blockchain use-cases and how they are better solved by existing technologi

[2022-01-25 18:36] max-arnold opened #29 "Why crypto and NFTs are the worst that happened with us"
Not sure if articles in Russian language are relevant for your colletion, but this monumental piece just came out

https://hyperduh.medium.com/%D0%BD%D0%B5-%D0%B2%D0%B0%D1%88%D0%B8-%D0%B1%D1%80%D0%BE-%D0%BF%D0%BE%D1%87%D0%B5%D0%BC%D1%83-%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%B0-%D0%B8-nft-%D1%85%D1%83%D0%B4%D1%88%D0%B5%D0%B5-%D1%87%D1%82%D0%BE-%D1%81-%D0%BD%D0%B0%D0%BC%D0%B8-%D1%81%D0%BB%D1%83%D1%87%D0

[2022-01-29 13:33] rufuspollock commented on #29
@max-arnold thanks - good find. do you want to take it on a spin through google translate at least to give us the intro?

[2022-01-29 13:37] rufuspollock commented on #28
@max-arnold these are great - thank-you!

[2022-01-29 13:41] rufuspollock commented on #28
@max-arnold i've added the first of these - if you were up for a PR I'd welcome adding the rest (or i can do it if you would like).

[2022-02-03 16:23] max-arnold commented on #29
Sorry, I do not have the energy to do that :(   I tried to wrap the link with [google translate](https://hyperduh-medium-com.translate.goog/%D0%BD%D0%B5-%D0%B2%D0%B0%D1%88%D0%B8-%D0%B1%D1%80%D0%BE-%D0%BF%D0%BE%D1%87%D0%B5%D0%BC%D1%83-%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%B0-%D0%B8-nft-%D1%85%D1%83%D0%B4%D1%88%D0%B5%D0%B5-%D1%87%D1%82%D0%BE-%D1%81-%D0%BD%D0%B0%D0%BC%D0%B8-%D1%81%D0%BB%D1%83%D1%87%D0%B8

[2022-02-03 20:49] #28 closed

[2022-02-04 12:47] stevesong opened #39 "sort by year?"
Under each thematic category, it might make sense to sort articles by year, creating 'year' subtitles,  as the articles are often contextual to a rapidly changing landscape.

[2022-02-09 17:48] rufuspollock commented on #39
@stevesong +1

Aside: the best way to really do an awesome setup like this would be to use zotero and then drive the whole thing off the zotero API 😉 (but the problem with that is there is no pull request system for zotero ...)

[2022-02-09 17:49] rufuspollock commented on #27
@jqnatividad want to do a PR 😄

[2022-02-11 17:57] marypcbuk opened #42 "David Rosenthal article/talk summary"
I love the collection of resources you have here; could I suggest an addition? https://blog.dshr.org/2022/02/ee380-talk.html Having built a decentralized consensus system using Proof-of-Work (http://dx.doi.org/10.1145/945445.945451) the author has the technical knowledge to explain the design faults and limitations of permissionless blockchain systems, as well as highlighting the economic and envi

[2022-02-13 22:32] spookylukey commented on #42
There are lots more great articles on his blog - https://blog.dshr.org/ - and linked from his articles, such Frances Coppola's on https://www.coppolacomment.com/

[2022-02-15 13:45] rufuspollock commented on #42
@marypcbuk @spookylukey great suggestions and we now have this in as of https://github.com/rufuspollock/awesome-crypto-critique/commit/dda091225e7b6063f5b01fc681c1ecde4253c6cd plus follow up commits.

@spookylukey if you have specific selection of articles from blog.dshr.org that would be great - i've found one good one already.

[2022-02-18 10:48] rufuspollock opened #44 "Migrate "database" to Zotero (?)"
What we have is essentially a bibliography. The proposal here is to adopt the [Zotero reference manager](https://zotero.org) as our backend storage for the bibliographic items.

## Why

The main plus point of managing as README in git(hub) is:

* Making it easy to have moderated contribution via pull requests etc
* Quick publishing (it is just the github readme)
* Stars ⭐ (so some sense of interes

[2022-02-22 13:46] #27 closed

[2022-02-23 08:59] rufuspollock commented on #44
@stevesong sounds good to you?

[2022-02-23 11:18] stevesong commented on #44
Sounds good to me.  I am a little concerned about the sheer volume of resources and the need to sort the wheat from the chaff.  For a start it would be good to agree on a set of metatags for describing the resources.  More ambitious would be some consensus on the best resources for a specific topic or best introduction to issues.

[2022-02-24 13:29] rufuspollock opened #49 "Evolve this to a more general "making sense of web3" repo / project"
## Tasks

* [x] Relocate repo to `life-itself/web3`
* [x] Update description
* [x] Update README **MOVED to #74**
* [x] Convert to have a frontend website

[2022-02-25 09:01] sdiehl commented on #49
I started a sketch of some of the outlines and topics that are in our SCQH. Open to different structures if people have preference other than a toplevel `concepts` folder and cross-linked to other topics.

[2022-02-25 09:28] rufuspollock commented on #44
Big 👍 and suggest we open a separate issue for this and start working on it. I think the SCQH and esp issue tree structure could help us get a taxonomy here.

[2022-02-25 09:34] rufuspollock opened #50 "Metadata improvements to library (in Zotero)"

[2022-02-26 09:06] rufuspollock opened #51 "Taxonomy for Library plus inclusion criteria"
Migrated out of #44 we have point about needing to structure the library better and to provide inclusion criteria as per this comment of @stevesong

## Acceptance

* [ ] Basic taxonomy for tagging and organizing the library
* [ ] Criteria or process for adding items to the library (deciding on inclusion)

## Tasks

* [ ] Summarize the current taxonomy
* [ ] Look at SCQH and especially the issue tr

[2022-02-26 20:47] rufuspollock opened #52 "Pull items out of Zotero and display them"
Pull items out of Zotero and display them. A subpart / follow up to #44

## Tasks

* [ ] Research options for doing this e.g. zotero API libraries or components
* [ ] ...

## Analysis

### Research Libraries for Accessing Zotero

https://github.com/zotero/publications/issues/71

[2022-02-27 11:38] rufuspollock commented on #49
@sdiehl i think what you have got going looks great. I've a WIP more detailed PLAN in https://github.com/life-itself/web3/blob/main/meta/plan.md

[2022-02-28 11:56] rufuspollock opened #53 "Public Website v0.0.1"
Initial version of an online home for the project (distinct from github itself!)

## Acceptance

* [x] Site live at web3.lifeitself.us **DONE https://web3.lifeitself.us (via cloudflare pages)**
* [x] One page site with layout roughly corresponding to [the mockup](https://github.com/life-itself/web3/blob/main/excalidraw/website-homepage-v0.1-2022-02-23.excalidraw.svg) - perhaps even just hero and l

[2022-03-02 16:24] sdiehl commented on #52
This seems to be trivially solvable by using the Zotero plugin for Obsidian. We can cross link the BibLaTeX  that Zotero exports and then we have a wiki + bibliography with a single source of truth. This seems like a lovely setup.

[2022-03-02 16:26] sdiehl commented on #50
I've expanded the taxonomy of the Zotero library to include a vast set of subcategories for all major topics which will map to concepts in the wiki. I think this is a much better shape now.

[2022-03-04 05:35] rufuspollock commented on #52
Does Obsidian pull the whole library or just individual papers? Here i was thinking more of a way to publish the whole library in a browsable way - you could think of it as an enhanced version of the listing we currently have in the root README.md of this repo.

[2022-03-04 07:03] sdiehl commented on #52
Ok, I think I understand better. Zotero lets us directly export to HTML report directly. If that's broweseable enough then good, otherwise we'll have to find something to process the biblatex output and render that on Github or something.

https://github.com/life-itself/web3/blob/main/web3.html

[2022-03-05 20:34] rufuspollock commented on #52
@sdiehl the way our website build works we can run any javascript stuff we want and spit out static html to as many pages as we want. That's why i was looking for a node library that could access zotero directly - see analysis section of the issue description. Alternatively we spit out bibtex and then process that but it adds an extra steps of exporting the bibtex and then processing the bibtex.

[2022-03-05 21:05] rufuspollock opened #55 "[epic] Content Plan"
Planning out our content for the project.

Excalidraw: https://excalidraw.com/#room=77b4b0841586502dc440,OS7tGXbkYEf_W5Lgu8PflA

![image](https://user-images.githubusercontent.com/180658/156899884-8b120c6d-fc15-486a-9766-cddc687c09f2.png)

[2022-03-05 22:32] bwiernik commented on #44
This is incorrect. If you use Zotero's collections for your topics, one item can exist in many collections

[2022-03-06 11:12] rufuspollock commented on #44
@bwiernik first, thanks for contributing and welcome 🙂

To clarify, the why section is about why *github readme* approach does not work and *why* we should move to zotero. I've clarified the title now ...

👍 indeed. If you are interested the library is already operational and pretty active at https://www.zotero.org/groups/4600269/web3/library and we're looking in #52 at out how we display them in

[2022-03-06 15:56] bwiernik commented on #44
Thanks, I'm mostly a volunteer and contributor to Zotero, so wanted to answer some questions that I saw pop up from your initial post

[2022-03-07 12:29] rufuspollock opened #56 "Guide to web3 & crypto (v0.1)"

[2022-03-10 16:35] EilidhRoss1 opened #62 "Content for Home Page v0.1"
Create Web3 site front page

### Acceptance

- [ ] Web3 website front page published featuring copy and images found in google doc [here](https://docs.google.com/document/d/1yJobE0hBuNdHgwDmVh3KcTVcwrnC8gGQzZzsWVfNjMI/edit#)

### Tasks

- [x] Write copy (Title, Description and CTA) ✅ **Eilidh done**
  - [x] Hero Section ✅ **Eilidh done**
  - [x] Guide ✅ **Eilidh done**
  - [x] Library✅ **Eilidh do

[2022-03-10 16:44] EilidhRoss1 commented on #62
@rufuspollock All the content for the front page (copy and links to svg images) can be found here: https://docs.google.com/document/d/1yJobE0hBuNdHgwDmVh3KcTVcwrnC8gGQzZzsWVfNjMI/edit#

[2022-03-10 20:31] rufuspollock commented on #53
FIXED. I think we have a v0.0.1. Plenty more to do and that can be next issue.

![image](https://user-images.githubusercontent.com/180658/157749396-2228a01c-248c-4a69-8755-34201d3b0b3e.png)

[2022-03-10 20:31] #53 closed

[2022-03-14 16:04] rufuspollock opened #64 "Wiki links working"
What we want: we want to be able to create links in our "wiki" (i.e. all our markdown files) that "work" (that is resolve) both within obsidian *and* when deployed on website. (We might also want them to work in github but i think that is less important frankly and that removes possibility of having `[[...]]` which is the nicest option).

Issue:

* Inserting proper markdown links break on deployme

[2022-03-15 11:44] rufuspollock opened #65 "Announce v0.1"
# Acceptance

* [ ] Announce posts up on Life Itself (and elsewhere)
* [ ] Blurb for sharing prepped
* [ ] Have x-posted to that annoucne
* [ ] List of places to announce in priority order
* [ ] Announced at (most) of those places
* [ ] Mailing list mailout (?)

Outcomes

* [ ]

# Tasks

Announcement post

* [x] Draft **✅  see https://docs.google.com/document/d/131PrBIBmBA5fzxGwgPhM_sNdUtHeFDq0AVI

[2022-03-15 11:56] rufuspollock opened #66 "Website v0.1"
Launchable and *announceable* website.

Sketch of home page
![website-homepage-v0.1-2022-02-23.excalidraw](https://raw.githubusercontent.com/life-itself/web3/2f738dd8b62196b285a760e34ff9847cf7c0caaa/excalidraw/website-homepage-v0.1-2022-02-23.excalidraw.svg)

Mockup of home page (design): https://excalidraw.com/#room=8bc8a0afb0afc89015dc,W3jd48r8_B2llA2CZ8A33A

## Acceptance

* [x] Home Page
  * [

[2022-03-15 15:30] #64 closed

[2022-03-16 02:21] nathenf commented on #65
Do you think an Intro video would be useful for this as well? @EilidhRoss1 can basically read the intro and I can cut it into a video.

Uses:
- Landing video for the youtube channel
- Sharing during the launch
- Easy digestible on the website front page
- Include in the email going out

[2022-03-16 02:31] nathenf commented on #65
@rufuspollock I can see the Youtube thumbnails are a different format to the blog post thumbnails. Do you want me to resize them accordingly?

[2022-03-16 06:38] rufuspollock commented on #65
Not worth it IMO right now (plus if we do do it, we should just do that via cloudinary API rather than manually)

[2022-03-16 08:27] nathenf commented on #65
@rufuspollock the feature image is in the issue description, in case you didn't see it

[2022-03-16 08:28] EilidhRoss1 commented on #65
@rufuspollock draft copy for the email is in the description

[2022-03-16 09:43] nathenf commented on #65
@EilidhRoss1 I have scheduled a twitter post for 7pm your time for the launch. I will be off by then so if the launch is not ready please can you remember to reschedule?

[2022-03-16 15:23] EilidhRoss1 opened #67 "🔽 Back post about original launch in Jan using current content of lifeitself.us/web3/"

[2022-03-16 15:24] #67 closed

[2022-03-17 06:19] rufuspollock opened #69 "Fix skipping builds in netlify"
Our netlify build is often not rebuilding on content commits because they are outside the site directory (we're symlinking content files into the site directory).

Fix seems to be listed here and involves adding some netlify config:

https://answers.netlify.com/t/builds-cancelled-for-a-new-branch-due-to-no-content-change/17169/2

[2022-03-17 06:23] rufuspollock opened #70 "[inbox] Improvements to content presentation"
Context: we are using a remark-based pipeline for converting markdown => html (all inside of a nextjs react app).

We are also tending to use obsidian to edit the content in the wiki (though you can use any markdown editor you like!).

* [ ] Add anchor links to headings e.g. via https://github.com/rehypejs/rehype-autolink-headings
* [ ] Support proper obsidian wiki link syntaxes - cf #64 for backg

[2022-03-17 08:46] bindestrichsoz opened #71 "[new] Dead links"
All terms on this page a deadlinks
https://web3.lifeitself.us/concepts/sound-money

[2022-03-18 07:30] rufuspollock opened #73 "Fix twitter card (for home page)"
Trying https://cards-dev.twitter.com/validator

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/180658/158956282-e8fa1407-3570-494d-91f4-f60abc5d2380.png">

What's weird is no `twitter:title` in the page etc.

Note also that this works fine https://socialsharepreview.com/?url=https://web3.lifeitself.us/

<img width="642" alt="image" src="https://user-images.githubuserc

[2022-03-18 07:33] rufuspollock opened #74 "Rework README"
README.md at root of repo is what people currently see arriving here. We should probably revise it given that a) we now have the main site b) it is now the contribute path for devs

Suggest:

* Move current README content into e.g. notes as `awesome-crypto-critique` or similar (easiest)
	* Someday we can move all the library items into the library and then build the page off that but until then ..

[2022-03-18 08:13] rufuspollock opened #76 ""Edit this page" link at the bottom of pages"
Add a "edit this page" link at the bottom of editable pages (i.e. "wiki" pages) so that a) our own team can easily edit pages b) others realize they can edit pages and some do so.

Context: All our content is here in github in markdown so people can directly correct it.

## Acceptance

* [ ] Edit this page or similar at the bottom of each page that comes from markdown/MDX source (so *not* home pag

[2022-03-18 08:14] rufuspollock commented on #66
Almost done on this.

[2022-03-18 08:20] rufuspollock opened #77 "[epic] Guide to web3 & crypto (v1)"
Guide to web3 and crypto v1. https://web3.lifeitself.us/guide

---

# Plan

https://coggle.it/diagram/YidoEewvuAnxT9LA/t/web3-crypto-guide-toc

<img width="988" alt="image" src="https://user-images.githubusercontent.com/180658/158962512-c94f10c4-741f-4701-b588-f80a148342e2.png">

## Tasks

* [ ] Convert to bullet points in this issue (as coggle probably not needed here so let's just have this as a

[2022-03-18 11:47] rufuspollock opened #78 "Webinar 1"
Put up a webinar offering.

[2022-03-18 11:48] rufuspollock opened #79 "Rosetta stone to translate different definitions of same term in different communities"
Here’s how crypto people define fundamental value vs how financial analysts do it.

[2022-03-18 16:15] rufuspollock commented on #73
@khalilcodes good fix - what was the bug exactly?

[2022-03-18 19:52] rufuspollock opened #82 "Set page titles"
At the moment we are **not** setting the page titles of any pages - it is always the same.

## Acceptance

* [ ] Title of https://web3.lifeitself.us is 'Home | {whatever the siteConfig.title is}` where `{whatever the siteConfig.title is}` is current `Making Sense of Crypto and Web3`
* [ ] Title of e.g. https://web3.lifeitself.us/guide is `Guide | ...`
* [ ] Title of https://web3.lifeitself.us/conc

[2022-03-18 21:45] sdiehl commented on #78
Let me know when you want to schedule this. I can get some interesting folks onboard.

[2022-03-19 01:02] Pooreffects commented on #82
I would like to work on this issue.

[2022-03-20 09:24] rufuspollock commented on #82
@Pooreffects 👏 please dive in ... and just re-assigned you. You can submit a PR directly or make suggestions here first.

[2022-03-21 12:49] samyberkane04 commented on #76
@rufuspollock

I found your issue intersting,I have solution .
do you agree that i contribute in this project ?
thank you .

[2022-03-21 12:57] rufuspollock commented on #62
FIXED. All content is prepped. Just need to integrate which is #66

[2022-03-21 12:57] #62 closed

[2022-03-21 14:11] rufuspollock commented on #76
@samyberkane04 yes - please jump in and propose your solution or do a pull request.

[2022-03-21 15:13] #82 closed

[2022-03-21 15:13] rufuspollock commented on #82
@Pooreffects looks like someone got there first - love to have your help on other issues 😄

[2022-03-21 16:06] rufuspollock opened #88 "Video component for displaying youtube videos"
YouTube component for displaying youtube videos.

See e.g. for https://web3.lifeitself.us/notes/are-crypto-tokens-securities where atm we just have the link.

What i want is:

[code]

And this results in a nice responsive display via iframe or whatever - see e.g. https://www.themes.dev/blog/easily-embed-responsive-youtube-video-with-tailwind-css/

## Acceptance

* [ ] Research options and preferab

[2022-03-22 06:40] sdiehl commented on #88
In theory if we can figure out a way to pass-thru raw HTML, all of the YouTube videos are already embedded on the episode notes pages. Remark is just stripping the HTML away at the top because it can't parse it or something. Don't know if there's some setting to allow this or not.

https://github.com/life-itself/web3/blob/main/notes/post-state-technocracy.md

[2022-03-22 09:45] rufuspollock opened #89 "Dedicated claims page or claims section in guide"
@sdiehl i see we have a claims list now in the guide and we have  https://web3.lifeitself.us/claims

Question

* EITHER: shall we merge the guide stuff into the claims page https://web3.lifeitself.us/claims and just link that from the guide
* OR do you want to centralize the claims stuff in the guide (and we can remove claims page)?

Happy either way - just want to know how you would like to conve

[2022-03-22 10:03] sdiehl commented on #89
I think we should move all the claims/subclaims into a dedicated page. They're just temporarily cominging with the concepts at the moment, and given that there's a massive amount of pages on the wiki now I think moving claims to their own page make more sense.

[2022-03-22 10:11] rufuspollock commented on #69
FIXED. (I hope) in 0bd5d2f3f8947e3dddcd294e9cc8574a37c66e48

[2022-03-22 10:11] #69 closed

[2022-03-22 13:51] rufuspollock opened #91 "Markdown Citation Renderer: pandoc style citations => proper references"
Want something like this in markdown:

[code]

To become this:

[code]

Or, a fuller version like:

[code]

See pandoc for more: https://pandoc.org/MANUAL.html#extension-citations

🎁 Bonus: generating a reference section at the end of a document ie. list of citations. This could be something that is explicitly inserted by having a special item like `[references]` just like one has `[toc]` or maybe

[2022-03-22 14:11] rufuspollock commented on #91
@sdiehl any info you can share on your current setup for adding references e.g. do you have a local bib file you export to or how does it work with the obsidian plugin

(Aside: shall we start documenting this kind of stuff e.g. obsidian plugin setup and config for ourselves and other potential editors in the meta section e.g.`meta/obsidian`?)

[2022-03-22 14:15] rufuspollock opened #92 "Show notes for first 3-4 episodes of deep dive are up"
I suggest we get one fairly polished including front matter structure e.g. https://web3.lifeitself.us/notes/are-crypto-tokens-securities and then do the rest (though can prep the markdown for the others)

## Acceptance

* [x] Episode 1 on neo-metallism **https://web3.lifeitself.us/notes/neo-metallism**
	* [x] Page up with decent slug/url and title
	* [x] Show notes **Done with tidied version. Stil

[2022-03-22 14:17] rufuspollock opened #93 "Sidebar table of contents"
Maybe only on certain pages (markdown pages or guide or ...)

Inspiration from eg. tailwindcss.com which has LHS table of contents for whole site and RHS for table of contents of current doc - https://tailwindcss.com/docs/installation

![image](https://user-images.githubusercontent.com/180658/159502659-2833ce95-b55b-4333-b34b-94b7a8284c3a.png)

## Acceptance

* [ ] RHS table of contents for the *c

[2022-03-22 17:53] sdiehl commented on #91
I'm doing this manually at the moment. It requires a lot of work and probably doesn't scale very well unless others have a huge mental map of all the literature. But if we have an automated process it's easy to reverse what I've done into something automatic.

[2022-03-23 09:14] rufuspollock opened #94 "Content Layer abstraction and replacement for next/mdx"
Replace next/mdx and file based routing for markdown (wiki) content with a new content layer API based on https://github.com/contentlayerdev/contentlayer so that ...

Better markdown parsing

* can use frontmatter again so that e.g.
  * we can e.g. youtube frontmatter and pull it out for front page
  * showing authors
  * sorting by diff types of page
* we can use mdx in markdown w/o `.mdx` extens

[2022-03-23 09:57] sdiehl commented on #92
I think the securities one is a great one to polish if we want to target more of the policy maker audience. I think that one is probably the most relevant for them and our script has some really great talking points in it i we expand it out.

[2022-03-23 13:50] rufuspollock opened #96 "Support Obsidian wiki link syntax in publishing to website"
Obsidian extends basic markdown with special wiki-link syntax, transclusion and tags. As per https://obsidian.md/features

[code]

## Acceptance

- [x] New remark plugin repo called `remark-wiki-obsidian` **See https://github.com/life-itself/remark-wiki-link-plus**

Supports these types of links:

- [x] `[[Internal link]]`
- [x] `[[Internal link|With custom text]]`
- [x] `[[Internal link#heading]]

[2022-03-23 15:59] sdiehl opened #97 "Broken ideologies"
Looks like the latest changes to the MDX router broke subdirectories within the `concepts` root directory. See for example:

https://web3.lifeitself.us/concepts/ideologies/market-fundamentalism

A quick hack would be to just move all the ideologies up a folder and then this should fix it. I'm happy to do this if need be.

[2022-03-24 08:50] rufuspollock commented on #97
@khalilcodes can you have a quick look at this and see if there is an easy fix.

@sdiehl we can fix for now and my general sense is that we start flattening more and maybe using frontmatter in the markdown to differentiate different types of stuff (maybe we put most stuff in notes directory and just have types or categories). NB: this is a longer discussion and will open a separate issue for this.

[2022-03-25 11:52] #88 closed

[2022-03-25 11:55] rufuspollock opened #99 "Add anchor links to headings e.g. via https://github.com/rehypejs/rehype-autolink-headings"

[2022-03-25 11:56] rufuspollock commented on #70
@khalilcodes suggest doing these quick items today if you have time

* [ ] 🔼 Navbar
  * [ ] ⏫ YouTube life itself channel link with icon
 	 * [ ] also in footer
  * [ ] Github repo link with icon
  * [ ] Life Itself icon (linking to lifeitself.us/labs)
* [ ] Footer
	* [ ] YouTube icon and link - https://www.youtube.com/channel/UCmBq3VO9w_MLTKD_CHsYN-Q
	* [ ] Podcast icon and link to https://anchor

[2022-03-25 12:35] AceTheCreator commented on #97
@rufuspollock Can I work on this issue? If so any thing I need to understand?

[2022-03-25 12:36] AceTheCreator commented on #93
@rufuspollock I'll work on this

[2022-03-25 12:39] AceTheCreator commented on #91
@rufuspollock @sdiehl is this issue been assigned to anyone yet?

[2022-03-25 15:02] rufuspollock commented on #91
@AceTheCreator it hasn't and you could have a go at it.

[2022-03-25 15:02] rufuspollock commented on #93
@AceTheCreator no, you can self-assign. This is probably easier than citation renderer - at least doing the RHS table of contents of the page.

[2022-03-25 15:03] rufuspollock commented on #97
@AceTheCreator i think we are fixing this by removing the nested ideologies so nothing needed here. /cc @sdiehl

[2022-03-25 15:11] rufuspollock opened #100 "Checklist for deep dive episode processing"
Creating a template issue for processing and releasing deep dives.

## Acceptance

* [ ] make page stub, generate URL for episode
* [ ] Write blurb
* [ ] Draft image
* [ ] Upload youtube
    * [ ] Link page from youtube notes
* [ ] Upload to anchor
* [ ] (can be later) add show notes in raw form

Release

* [ ] Make youtube public
* [ ] Add youtube public link to

Extras

* [ ] Tidy show notes

[2022-03-25 15:14] rufuspollock opened #101 "Put up pages and notes for episodes 1-4 of deep dives"
We have pages up for episodes 1-4 of deep dives plus for 2 other dialogs we have done

## Acceptance

* [ ] Episode 1 on neo-metallism
	* [ ] Page up with decent slug/url and title
	* [ ] Show notes
	* [ ] YouTube video
	* [ ] Podcast
* [ ] Episode 2 - ditto
	* [x] Page up **✅ https://web3.lifeitself.us/notes/are-crypto-tokens-securities**
	* [ ] Fix the youtube embed
	* [ ] Podcast links
* [ ] Ep

[2022-03-25 15:22] khalilcodes commented on #97
Here's what I have so far on this for a better explanation on the issue.

* contentlayer not generating nested deep folders. for eg..

[code]

This looks more like a symlink issue.

[2022-03-25 16:34] theo-cox commented on #101
@EilidhRoss1 take a look at these for example of how to move forward on tidying+ adding notes for convos

[2022-03-26 07:32] sdiehl commented on #97
I can just reverse my change and put all the `ideologies/*` up a folder. It doesn't matter to me either way really.

[2022-03-26 19:52] #97 closed

[2022-03-28 07:22] rufuspollock commented on #97
@sdiehl did you fix this? I also wonder if we just merge ideologies into `notes/` and add a tag / type to them in frontmatter.

[2022-03-29 12:14] rufuspollock commented on #93
@AceTheCreator how is it going?

[2022-03-29 12:53] rufuspollock opened #103 "Editor guide"
Guide for people contributing content or managing contribution of content.

## Acceptance

* [ ] `/meta/guide` exists
* [ ] has basic instructions for editing the site

## Tasks

* [ ] Introduction: Explain how site works and how you can edit
	  * [ ] Wiki-like with sections
		  * [ ] Technical architecture (?)
	  * [ ] Use markdown
	  * [ ] Editing
		    * [ ]  Edit direct on github
		    * [ ] (

[2022-03-29 16:07] AceTheCreator commented on #93
@rufuspollock I'm almost done with it and I should raise a PR tomorrow.

I performed a logic to retrieve toc for every md and save it in a final JSON and then read JSON in the js and render React component

[2022-03-30 08:00] rufuspollock commented on #93
@AceTheCreator great - i'd start with the RHS table of contents which should be relatively easy I imagine - and do a PR with that and then a second one for the global ToC. Also could you share what research / inspiration you did - e.g. how do tailwind do it (their repo is public so you check ...)

[2022-03-30 16:02] AceTheCreator commented on #93
@rufuspollock I need a clearer explanation of what the right LHS table of content should contain 🤔

[2022-03-30 18:35] rufuspollock commented on #93
@AceTheCreator

Look at the screenshot in the description. There is a RHS table of contents which is the current page table of contents. I would have suggested that is the much easier thing to start with before moving onto the site table of contents. I'd also suggest doing some upfront analysis before coding to think this through a bit and research how, for example, tailwind are doing this. That w

[2022-03-30 19:08] sdiehl commented on #103
Right now I'm just distributing .docx files to other academics. But it would be great if we could onboard people onto the Obsidian workflow. I can write up a quick intro but even Edit on Github is still probably slightly above the level of most of the people I would target for feedback though. Not sure how to get around this but open to ideas.

[2022-03-31 13:04] AceTheCreator commented on #93
@rufuspollock You're absolutely right!

[2022-04-01 12:54] theo-cox opened #105 "Adding webinars page to site"
I've created a stub webinars page at https://github.com/life-itself/web3/tree/main/webinars but I'm told some coding is required to get it featured on the page.

## Acceptance

- [ ] /webinars page is live, featuring the text from webinars.md
- [ ] Page is displayed on the main menu

[2022-04-01 18:58] rufuspollock commented on #105
@theo-cox the better option would be for this file to live at https://github.com/life-itself/web3/tree/main/site/content - i.e. no need for a subdirectory for now and you just have a `webinars.md` in the content directory. That will then show up - without anything needed from @khalilcodes In terms of the menu you can just edit https://github.com/life-itself/web3/blob/main/site/config/navLinks.js (

[2022-04-01 18:59] rufuspollock commented on #92
@EilidhRoss1 great work 👏

A minor thing: when you close can you add a note as per https://tao.lifeitself.us/issues/#closing-issues 🙂 🙏

Also can you update the description especially the acceptance items as per https://tao.lifeitself.us/issues/#completing-tasks

[2022-04-01 22:37] #105 closed

[2022-04-02 13:17] sdiehl commented on #89
The Wiki and Claims paes are now seperate as of [6636560](https://github.com/life-itself/web3/commit/663656026fa52a2ba24b3bf0f8bab1a7df9eb9e7).

[2022-04-02 13:17] #89 closed

[2022-04-02 14:50] miracle2k opened #106 "NFT Authenticity vs Plagarism"
The NFT page states:

```Since multiple NFTs can be created that reference the same artwork there is n canonical guarantee of uniqueness that an NFT purchased is "authentic" and it remains unclear what "authentic" would mean regarding hyperlinks which are infinitely reproducible.```

This seems to be unaware of the paragraph immediately following, which acknowledges the source of such authenticity

[2022-04-04 09:45] EilidhRoss1 opened #107 "Deep Dive episode 5: incremental financial innovation"
## Acceptance

- [x] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor. ✅
- [x] Page stub has been made and URL generated ✅  https://web3.lifeitself.us/notes/fintech-incrementalism-and-responsible-innovation
- [x] Conversation published on Youtube & Anchor ✅   **[Youtube](https://www.youtube.com/watch?v=7rLQoTtwRSU&ab_channel=LifeItself)** **[Anch

[2022-04-04 12:16] rufuspollock commented on #106
@miracle2k thanks for the point. Do you have any thoughts on suggested alternative and improved wording?

[2022-04-04 12:17] rufuspollock commented on #66
@EilidhRoss1 have you managed to get the "get involved" section done?

[2022-04-04 12:21] EilidhRoss1 commented on #66
@rufuspollock Not yet, Khalil and I had our call on Thursday. I recorded the conversation and I'm hoping to begin creating the editors' guide from that this afternoon. My plan is to do the get involved section as I follow along with the tutorial I recorded with Khalil, so as to make sure that the tutorial is successful in demonstrating how to edit the website. So I should have this done by tomorro

[2022-04-04 14:38] rufuspollock commented on #89
@sdiehl sounds good - note i'm using "wiki" to refer to pretty much everything (notes, guide, claims etc). By wiki do you mean `notes`?

BTW the info architecture diagram here may be useful https://github.com/life-itself/web3/blob/main/meta/design.md

[2022-04-04 14:39] EilidhRoss1 commented on #92
@rufuspollock thanks for flagging, noted and will do in future 👍

[2022-04-04 14:40] rufuspollock commented on #92
@EilidhRoss1 ok and could you do it on this one - you can still add the comment and update the description.

[2022-04-04 14:57] #92 closed

[2022-04-05 09:30] rufuspollock commented on #92
@EilidhRoss1 could you add updates on the tasks in the description with links e.g. see how the first task has the link to the show notes.

This is really helpful for me or any viewer as i can quickly follow the links to the result and have a look

[2022-04-05 09:32] EilidhRoss1 commented on #92
@rufuspollock sorry, I did this yesterday, I must not have committed the changes properly. Sorry, will do now.

[2022-04-05 13:53] rufuspollock commented on #71
@bindestrichsoz thanks for flagging.

For the first set: i think those links are now working - we have a wiki-like approach so there may be dead-links (👍 on it being nice to flag that in the interface somehow).

contact: fixed to a new link to https://lifeitself.us/contact

[2022-04-06 12:10] rufuspollock commented on #49
FIXED. This happened and was launched ~3w ago. https://web3.lifeitself.us

[2022-04-06 12:10] #49 closed

[2022-04-06 13:37] rufuspollock commented on #107
@EilidhRoss1 changed title here - note i would refer to these sessions under the general title "deep dives".

[2022-04-06 13:49] rufuspollock commented on #56
DUPLICATE of #77

[2022-04-06 13:49] #56 closed

[2022-04-06 13:59] rufuspollock opened #114 "Frontmatter for deep dive pages - including editor instructions"
Let’s store “structured” content for page in frontmatter e.g. image, description etc so that …

* can do SEO tags for the page – these are pages where we have a specific description, image etc
* can pull this info into the front page “Latest Releases”
* can showcase this on a “deep dives” page

## Acceptance

* [x] Refactor one deep dive page to use frontmatter **@`notes/neo-metallism.md`**
* ~~[

[2022-04-06 22:28] AceTheCreator commented on #93
## Issue Solution Summary

### LHS toc summary
The inspiration for this solution was the Tailwindcss approach for their LHS toc. Based on my research they have an object that holds all the toc, each key in the object is the main title of the section in the toc which holds an array as a value(the value consist of an array of page link for that section) and a utility function exists called createPag

[2022-04-07 06:40] EilidhRoss1 commented on #66
Get Involved section is up

[2022-04-07 19:15] rufuspollock commented on #66
FIXED. All done now.

[2022-04-07 19:15] #66 closed

[2022-04-07 19:18] #99 closed

[2022-04-08 11:00] theo-cox commented on #78
@sdiehl please do update when you've had a chance to check in with your contacts around their appetite

[2022-04-13 12:17] #94 closed

[2022-04-13 12:21] khalilcodes commented on #96
Fixed all major tasks except for transclusion links.

[2022-04-13 12:21] #96 closed

[2022-04-13 13:31] stevesong opened #121 "Rocket favicon"
Is the choice of a "rocket" as the favicon for the site intentional?  Some kind of ironic play on the "to the moon" crypto meme?  Perhaps something more neutral but indicative of the multidimensionality of the issue. e.g. https://thumbs.dreamstime.com/z/going-all-directions-4142189.jpg

[2022-04-13 14:57] theo-cox commented on #65
FIXED. We announced and listed on our newsletter and shared across all named forums. Further digging for places to share wasn't deemed a good use of time.

[2022-04-13 15:07] theo-cox opened #122 "Processing Rufus & Cory Doctorow Conversation"
Rufus has recorded a conversation with Cory Doctorow and shared with Comms Team via email. This should be added to our processing backlog for web3 conversations.

## Acceptance

- [ ] Conversation is uploaded to podcast platforms
- [ ] Conversation is listed on web3 site
- [ ] (Optional) Conversation is uploaded to YouTube

## Tasks
...

[2022-04-13 15:08] theo-cox opened #123 "Processing Stephen and Matthew Ranger Interview"
Stephen has had a conversation with Matthew Ranger that should be processed and added to the site.

https://drive.google.com/file/d/19EnexwCcj-zasIzPltA_5qjBQsAnhmv5/view?usp=sharing

## Acceptance

- [x] Conversation on podcast platforms
- [x] Conversation on YouTube
- [x] Conversation on web3 site

[2022-04-14 08:32] EilidhRoss1 commented on #107
FIXED. Deep dive ep 5 fully processed and published

[2022-04-14 08:32] EilidhRoss1 commented on #107
FIXED. Deep dive ep 5 fully processed and published

[2022-04-14 08:32] #107 closed

[2022-04-14 08:37] EilidhRoss1 commented on #103
@catherinet1 will be taking on this task. I have handed it over and she is fully briefed on what is needing done, and the progress that has already been made. Catherine, I've uploaded the video tutorial Khalil and I recorded to the google drive. Here's the [link](https://drive.google.com/file/d/1mWqXDx6ICJ_1qreoYoB774weWi-AtyDo/view?usp=sharing)

[2022-04-14 08:38] EilidhRoss1 commented on #114
@catherinet1 I've assigned you to this task as it's relevant to the editors' guide.

[2022-04-14 10:36] rufuspollock opened #124 "Logo and favicon (could auto-generate)"
Be nice to have some kind of bespoke favicon and/or logo for the site.

[2022-04-14 10:37] rufuspollock commented on #121
@stevesong good point and had this in #70 and just split out to #174 which could either merge to here or vice-versa.

To answer the question: rocket was accidental - just a placeholder.

Be great to have a solution.

[2022-04-14 11:47] stevesong commented on #121
merge to #124

[2022-04-14 12:47] rufuspollock commented on #121
FIXED. Duplicate of #124

[2022-04-14 12:47] #121 closed

[2022-04-14 13:59] rufuspollock opened #125 "Resolve build errors related to git lfs asset"
Yesterday i added an image file in assets folder and it seems to have broken the build:

[code]

## Acceptance

 * [x] Build working again
 * [x] BONUS: source of error identified so we avoid in future **FIXED. enable git lfs by setting env variable `GIT_LFS_ENABLED` to `true` (in UI)

## Tasks

* [x] Try to fix the error one way or the other

[2022-04-14 14:23] rufuspollock commented on #125
OK, my best guess is we just need to enable git lfs on netlify ...

https://answers.netlify.com/t/builds-fail-after-new-commit-to-git-lfs/1362/4

[2022-04-14 14:28] rufuspollock commented on #125
FIXED. See above.

[2022-04-14 14:28] #125 closed

[2022-04-15 11:38] rufuspollock commented on #124
@stevesong any thoughts? Want to help out on this one?

[2022-04-15 13:38] rufuspollock opened #127 "Full text search"

[2022-04-15 13:38] rufuspollock opened #128 "Blog section"

[2022-04-15 13:38] rufuspollock opened #129 "Light theme"

[2022-04-15 13:39] rufuspollock opened #130 "Make front page links into next links `next/link`"

[2022-04-15 14:06] rufuspollock commented on #114
@khalilcodes pretty much all done on tech side. What i suggest is you and @EilidhRoss1 go through late next week and update the deep dive pages and add info to editing guide (reassigning to you @EilidhRoss1 as relates to the deep dive pages which you are maintaining)

[2022-04-15 14:44] Chaseforyourlife commented on #130
I'm completely new to this, I haven't contributed to any open source projects yet. I see the issue title, and I'm wondering what a "next" link is.

[2022-04-16 15:38] 13colours commented on #130
PR @ https://github.com/life-itself/web3/pull/131

[2022-04-17 04:20] nathenf commented on #123
@theo-cox I have made an Issue workflow for this in Comms: https://github.com/life-itself/comms/issues/30 should we move it over here?

[2022-04-18 15:33] stevesong commented on #124
I would be tempted to use something that hinted at the multidimensional nature of the issue.  Perhaps something like
https://www.onlinewebfonts.com/icon/546236

[2022-04-19 09:55] theo-cox commented on #123
Sorry my bad for not using! If that's easier for you then please do

[2022-04-19 18:16] AceTheCreator commented on #93
@rufuspollock @khalilcodes I updated the PR by making it cleaner. Thanks, @rufuspollock for the feedback on my messy PR

[2022-04-20 14:05] khalilcodes commented on #130
Resolved with above ** PR #131 **

[2022-04-20 14:05] #130 closed

[2022-04-20 17:17] AceTheCreator commented on #76
I think a simple approach to solving this issue is.

Firstly: Add an edit this page link or button in the MDX component

Secondly: Get the file path link using the flattened path returned in the slug.js page

Thirdly: The link ensures it takes the editor to the right edit version of the page on GitHub

Lastly: The editor can edit the page and create a PR

@rufuspollock what do you think?

[2022-04-21 04:42] nathenf commented on #100
@rufuspollock I think this is the same as https://github.com/life-itself/comms/issues/30

[2022-04-22 19:41] rufuspollock commented on #76
@AceTheCreator sounds good as an approach.

[2022-04-26 12:26] khalilcodes opened #136 "Latest Releases on homepage from frontmatter"
Latest releases section on the homepage to display videos from pages in frontmatter

## Acceptance:

* [x] Latest releases list based on frontmatter `featured: true` in *date order* with most recent first
* [x] Cards with following info:
     - title
     - description
     - image
     - link to webpage for that "post/note"

## Tasks:

* [x] Refactor latest releases section to display list of fea

[2022-04-26 12:45] khalilcodes commented on #136
@rufuspollock please review above for frontmatter restructure

[2022-04-26 14:55] rufuspollock commented on #136
@khalilcodes we don't need youtube link as we should link to the webpage for that post not youtube.

[2022-04-26 15:17] rufuspollock commented on #136
@khalilcodes i've also updated acceptance

[2022-04-27 19:58] khalilcodes opened #138 "Excalidraw images broken on pages"
The images (svg) from the excalidraw folder linked in some pages *eg. notes/pia-mancini-open-collective-dialogue.md* are not being displayed.

## Acceptance
* [ ] Display excalidraw images on page

## Tasks:
...

[2022-04-28 05:17] SalBayat commented on #91
I have been reviewing this issue, and my assumptions in terms of workflow are as follows:

The ultimate goal is to write something in a markdown file, as you are writing, you can insert a citation, these citations are then used either to automatically generate a bibliography/endnotes, or run the file through a script that then produces the endnotes which you can add to the file.  Is this the desir

[2022-04-28 07:20] rufuspollock commented on #138
@khalilcodes this is easy to fix - i don't think we have symlinked excalidraw into the site/public folder.

[2022-04-28 11:26] #136 closed

[2022-05-02 10:33] rufuspollock commented on #91
@SalBayat sorry for slow reply - have not had a chance to review properly. Please feel free to dive in other issues - and saw the proofing PR which are themselves very useful.

[2022-05-02 21:06] danieltomasz commented on #44
@rufuspollock check this project https://github.com/whiskyechobravo/kerkoapp
there was a discussion here mentioning this web library *https://forums.zotero.org/discussion/71905/publishing-a-large-bibliography-on-the-web-with-a-faceted-search-interface

[2022-05-03 10:37] theo-cox opened #140 "Making Notes Accessible from Homepage"
When I'm exploring the web3 site I want an easy way to access notes pages without knowing/entering page URLs.

## Acceptance

- [ ] Mains site menu has a navigation function to explore notes pages

## Tasks

- [x] Add a link to notes page in navbar
- [x] Create a notes page featuring all notes

### Notes

- Some of the notes pages do not have frontmatter and so they are not included in the list. T

[2022-05-03 11:29] rufuspollock opened #141 "Convert examination of DAOs for public goods in github.com/life-itself/web3/discussions/72 into a note"

[2022-05-03 22:06] olarubaj opened #142 "various UI/UX fixes"
## Job Story
As a user, I want to enjoy the overall experience of exploring the web3 project site and focus on making sense of crypto rather on UI/UX shortcomings 😀

## Acceptance:
- [ ] "Latest Releases" text doesn't render on top of the image for smaller screens

![image](https://user-images.githubusercontent.com/104430201/166566935-f78a3c32-e6a5-4b1f-97a1-7d31623d3ad4.png)

- [ ] "Discover all"

[2022-05-04 09:16] theo-cox opened #143 "Answering FAQs"
When I'm a journalist/policymaker I want an easy way to answer the questions I have about web3/crypto

Workflow:
Collate Qs
Select Qs as a team (based on utility and comparative advantage for us to tackle)
Theo + Eilidh build out stubs using existing content
Share in with team
Collaboratively with Stephen (+ Rufus on occasion) finesse into final explainers

## Acceptance

- [ ] Collated and priori

[2022-05-05 13:07] stevesong opened #148 "Global south perspective"
I feel like there is a missing piece to the cryptocurrency puzzle and this is how it is playing out in the global south.  It is easy to dismiss moves like the Central African Republic's decision to make bitcoin legal tender as a cynical decision to further empower a kleptocracy and no doubt that is partially true.  However, this ignores the ignominious history of the CFA and the manner in which Fr

[2022-05-08 15:08] rufuspollock commented on #148
@stevesong this seems a good candidate for an entry into the "wiki" under `/notes/` (directory). Would you be up for converting this into note there e.g. at `/notes/central-african-republic-adopts-bitcoin-may-2022`?

[2022-05-09 19:11] catherinet1 commented on #103
Updated issue so that @EilidhRoss1 knows current status of editor guide draft while I am away.

[2022-05-10 13:59] rufuspollock opened #150 "Tweet link shows a preview/embed"
Like we do with youtube ... #88

## Acceptance

* [x] Tweet component ... **DONE** components/TwitterEmbed.js
* [x] Pasting a twitter link in its own paragraph at line start results in embed e.g. pasting the following results in an embed/preview of the tweet **DONE** *see /test page or screenshot below*

[code]

## Tasks:
- [x] create a tweet embed component
    - with placeholder for loading and

[2022-05-10 14:01] olayway opened #151 "Short definitions on hovering over key words"
## User story

A user can quickly look up definitions of underlined keywords when hovering over them, without having to leave the page.

![image](https://user-images.githubusercontent.com/52197250/167691759-48b31985-22ce-4a1e-ba51-0e5713a55e03.png)

## Acceptance
- [ ] definition preview in a tooltip on hovering over underlined keyword

### Tasks
- [ ] research and find the best solution
- [ ] pre

[2022-05-10 18:43] olayway opened #152 "RHS table of contents"
Priority over #153

---

## User story
A user can quickly eyeball the contents of the current page by looking at the table of contents (ToC) on the right-hand side. He can also quickly navigate to different sections of the current page by clicking on a section title in the ToC and see where he's currently at thanks to highlighting of the currently focused section.

## Inspiration
Tailwind page:
![

[2022-05-10 20:08] olayway opened #153 "LHS table of contents"
## User story
A user can quickly eyeball pages on the Making Sense of Web3 site by looking at the table of contents (ToC) on the left-hand sidebar. He can also quickly navigate to different pages by clicking on their titles in the ToC and see where he's currently at thanks to highlighting of the current page.

## Inspiration
Tailwind page:
![image](https://user-images.githubusercontent.com/5219725

[2022-05-10 20:09] olayway commented on #93
Moved to:
- RHS table of contents #152
- LHS table of contents #153

[2022-05-10 20:09] #93 closed

[2022-05-10 20:37] rufuspollock opened #155 "Set home page social preview image as default for all pages"
Configure the SEO stuff so that the social preview image (`og:image` i think) defaults to:

* frontmatter `image` attribute if set
* the default social preview image (the one for the home page which is set in `siteConfig.js`

## Acceptance

Currently e.g. yields nothing whilst https://socialsharepreview.com/?url=https://web3.lifeitself.us/ works.

Also this one which should have a frontmatter imag

[2022-05-11 12:56] olayway opened #157 "Refactor react code into reusable components"
### Developer story

As a developer I want to be able to quickly find relevant pieces of code and easily adjust similar elements present on a page by changing code only in one place.

### Acceptance / tasks
- [ ] extract parts of code responsible for same logic/elements in the home page into reusable react components

[2022-05-13 11:24] khalilcodes commented on #114
Moving 'Document fields in editing guide' to #103 and closing issue.

[2022-05-13 11:24] #114 closed

[2022-05-13 13:07] #76 closed

[2022-05-19 08:34] olayway opened #163 "Configure linter"
### Developer story

As a developer, I want to stick to established code best practices and keep the code uniform.

### Acceptance / tasks
- [ ] configure ESLint and Prettier in the project
- [ ] add gh action to run linter tests on push

[2022-05-20 16:46] rufuspollock commented on #127
@olayway one comment here is that i'd put this *after* doing #152 and #153  ...

[2022-05-20 16:49] rufuspollock commented on #155
@khalilcodes you have marked as closed but https://socialsharepreview.com/?url=https://web3.lifeitself.us/notes/are-crypto-tokens-securities and there is no image showing up. Does it work for you?

[2022-05-20 17:21] khalilcodes commented on #155
@rufuspollock it's working on my end. Not sure, maybe socialshare sometimes doesn't detect as it didn't show up on first try ...

<img style="max-width:300px" src="https://user-images.githubusercontent.com/42637597/169579626-fe623cae-2589-4448-89f6-3902bcfbe65e.png" />

[2022-05-21 14:11] rufuspollock commented on #155
@khalilcodes great - so let's assume it works! (Worth noting things like you tried it in both places in acceptance (next time) -- v useful info).

[2022-05-21 14:11] #155 closed

[2022-05-23 12:47] olayway commented on #127
Sure @rufuspollock. I'll be working on #152 and #153 now.

As for this issue, I was thinking about using algolia since it's quite popular search as a service (and I'm guessing we don't want to spin up our own backend for this), reportedly relatively easy to start with, and has a pretty generous free plan (up to 10000 queries per month). But I'll do more thorough research (and I'll take a look at t

[2022-05-23 16:03] EilidhRoss1 opened #164 "Optimize SEO for Angela Walch Summary"
We want someone googling 'Is crypto / web3 decentralized?', 'How is crypto / web3 decentralized?' 'what is decentralization?' to come across [our summary](https://web3.lifeitself.us/notes/deconstructing-decentralization) of Walch's 'Deconstructing 'Decentralization': Exploring the Core Claim of Crypto Systems'. SEO for this page should be optimized so as to achieve this.

## Acceptance

- [x] On-p

[2022-05-23 16:53] #151 closed, assigned to olayway

[2022-05-23 17:37] olayway opened #165 "Fix navbar responsiveness"
![image](https://user-images.githubusercontent.com/52197250/169875969-2a3ab150-2831-4541-ba18-186b1152edda.png)

![image](https://user-images.githubusercontent.com/52197250/169876207-79716be5-2934-4492-8a99-f77065e6a2b4.png)

[2022-05-24 09:43] EilidhRoss1 commented on #164
@khalilcodes @olayway discussed this with @nathenf. He says there are two aspects of the SEO we can optimize: on-page SEO and technical SEO. Can you look into the technical stuff: Page load speed, Google search console, site map. Re the on-page stuff, we will deal with most of that but we were wondering if the pages on the web3 site have metadiscriptions (like they would if we were using wordpress

[2022-05-31 18:56] catherinet1 commented on #103
@khalilcodes Please could you review the few sections highlighted in green in this [draft](https://docs.google.com/document/d/1RcwjaJYn0jtMw9rOR9W0Gv2fmQDd7Fjr53NM6j1-lco/edit#) of the editor guide to check they are correct and add any clarifying comments? They are some more technical bits which I researched myself so would value them being checked by someone with more technical experience.

[2022-06-01 11:24] khalilcodes opened #168 "Create a new 404 page"
The current 404 redirects to a blank white page that does not look as appealing and does not match the overall theme of the site.

# Acceptance

* [x] A better looking 404 page (with an icon/image?) that matches the site's theme. **DONE** *see /404 or /<any page that doesn't exist> or the screenshot below.*

## Screenshot

![Screen Shot 2022-06-12 at 10 54 06 PM](https://user-images.githubusercont

[2022-06-01 14:26] catherinet1 commented on #103
FIXED. Editor guide completed and linked on website.

[2022-06-06 12:18] khalilcodes opened #170 "Support Next links (internal links) in markdown pages"
Next links (internal links) support in markdown pages and eliminate the need for redirecting links ending with `.md`

# Acceptance

- [x] Internal links are Next links. eg. `<Link href="...">`
   - [x] Handle links ending with `.md` (currently set as redirects).
- [x] External links ie., `<a href="..." />` open in new tab.

**DONE** `Anchor.js` component was modified to support all of the above.

[2022-06-07 11:26] olayway opened #171 "Investigate performance impact of Tooltips"

[2022-06-07 11:33] #171 closed

[2022-06-07 11:35] olayway opened #172 "Investigate performance impact of Tooltips"
I see... I've added the dynamic imports back for now but I have enabled back ssr rendering for `Anchor`'s, because I think we do want them to be visible on the first-page load. If we don't render them on the server-side this is how the page looks like for a short moment (or not so short, depending on the internet connection) before it's fully rendered on the client:

![image](https://user-images.g

[2022-06-07 12:23] #152 closed

[2022-06-09 08:00] #123 closed

[2022-06-09 08:01] EilidhRoss1 commented on #122
FIXED

[2022-06-12 20:11] #168 closed

[2022-06-12 22:15] #150 closed

[2022-06-13 20:27] #170 closed

[2022-06-15 21:51] rufuspollock commented on #122
@EilidhRoss1 when closing stuff can we follow the guidelines on https://tao.lifeitself.us/issues/#closing-issues - at minimum would expect some link to the notes page on the web3 site plus the acceptance section updated.

[2022-06-15 21:53] rufuspollock commented on #168
@khalilcodes nice and would have been good to do something like provide a link for people back to the front page.

[2022-06-15 21:56] rufuspollock commented on #103
@catherinet1 would encourage in the FIXED comment to actually link to the guide. Otherwise i get the notification and have to dig around in the issue and/or site in order to find the guide and review it.

Also acceptance criteria aren't updated - cf https://tao.lifeitself.us/issues/#completing-tasks (e.g. a brief comment on what are the brief editing instructions or even direct link to the section

[2022-06-16 08:58] EilidhRoss1 commented on #122
@rufuspollock Nathen and I have been using a template for issues for processing conversations, the Cory Doctorow issue in line with that template can be found here https://github.com/life-itself/comms/issues/47 . That issue was closed in line with the guidelines at the time I finished the task. This issue was created by Theo when he was not aware that we already had an issue in place for the task.

[2022-06-16 15:02] rufuspollock commented on #76
Comment from @olayway in the PR #159 copied here:

---

### Changes

- 'Edit this page' button added at the bottom of the guide, claims, and concepts pages

### Notes
I've arbitrarily added this option only for /guide, /claims/[...] and /concepts/[...] pages since it didn't make much sense to me to add it for non-wiki-like pages (e.g. notes from our podcasts which I thought should not be subject t

[2022-06-17 08:54] theo-cox commented on #140
Hey @olarubaj I see there's been some great work done via the other issue, however it still seems that not all notes are visible via menu/clicks alone. As we are now transitioning this project, this is one of the last priority areas for us so would you or @khalilcodes mind picking it up? Thanks so much!

[2022-06-17 09:36] theo-cox opened #181 "Refactoring the Guide"
When I'm reading the guide, I want to an engaging route into the information that directly addresses my questions or perceptions.

Proposal of how we do this is outlined here, and involves merging the guide and claims page: https://docs.google.com/document/d/1woIRzvY6pdF43LQEFXHon1lUpIBe12Rj7WNZHXDdrnI/edit?usp=sharing

**Note we should do this in Gdoc first, then convert to markdown and add to th

[2022-06-17 10:43] rufuspollock commented on #181
@theo-cox reviewed the doc and looks excellent.

Also may want to check out our original plan issue in #77 (and close in favour of this?) plus @olarubaj thoughts in #144

[2022-06-17 11:17] theo-cox commented on #181
Great, thanks for the input @rufuspollock. Will close #77 as I think it would require a bit of extra content creation vs this refactoring. Think the thoughts in #144 are largely addressed by this, also, which is good!

[2022-06-17 11:18] theo-cox commented on #77
WONTFIX. Taking approach outlined in #181 instead.

[2022-06-17 11:18] #77 closed

[2022-06-17 13:42] #140 closed

[2022-06-20 09:33] rufuspollock opened #183 "Extract video segment on Gold Fever from Sebastiao Salgado documentary"
Amazing segment from Sebastiao Salgado on gold fever, see:

https://web3.lifeitself.us/notes/sebastiao-salgado-gold-fever-salt-of-the-earth

Want to extract of the precise segment on gold fever from overall document and upload on Life Itself Youtube so we can embed (starts at 04:48 and follows the transcript that is in the note

## Acceptance

* [ ] Understood task
* [ ] Extracted the few minute s

[2022-06-20 16:00] catherinet1 commented on #181
@EilidhRoss1 link to spreadsheet with all site pages listed is above

[2022-06-21 09:57] rufuspollock opened #186 "Build error on sec-remarks related to YOUTUBE_REGEX"
Some reason build is failing on sec-remarks note

[code]

Debugging in dev mode get more informative:

![image](https://user-images.githubusercontent.com/180658/174771049-d841fee2-9114-43f2-bd70-2c99253cdda1.png)

What i can't work out is why this regex is matching at all in that doc as no href links at all.

Testing locally have found that YOUTUBE_REGEX is testing true on https://www.sec.gov/news

[2022-06-21 10:18] #186 closed

[2022-06-21 10:18] rufuspollock commented on #186
@khalilcodes suggest we remove YOUTUBE_REGEX everywhere if we can and just use YOUTUBE_ID_REGEX.

[2022-06-21 13:19] theo-cox opened #187 "[PAUSED] Adding frontmatter to all notes pages"
We now have a central notes page to display all notes pages on the site. However, as per #140 some of the notes pages do not have frontmatter and so they are not included in the list. To include them, adding frontmatter is required:

- An example on how to add frontmatter, you can follow this [template](https://github.com/life-itself/web3/blob/main/templates/template.md?rgh-link-date=2022-05-03T10

[2022-06-21 13:19] theo-cox commented on #140
FIXED. There is now a central notes page which will shortly update with all notes, upon completion of #187

[2022-06-21 14:35] theo-cox commented on #187
We have paused this pending updating of guide, to see if it is worth the extra effort

[2022-06-22 06:12] rufuspollock commented on #140
@khalilcodes @theo-cox i think we now agree there was prob miscommunication here as we already had the `/all` page. Personally i would suggest we link "notes" in navbar to that page for now and can leave `/notes/` as an orphan (OR: and open to suggestion here: we just replace /notes/ with what is currently /all/ and redirect /all/ there for now))

[2022-06-22 07:50] theo-cox commented on #140
Fine to follow your suggestion

[2022-06-22 07:51] theo-cox commented on #187
WONTFIX. Notes page was a miscommunication so this is unnecessary. We can reopen if this is proved to not be the case.

[2022-06-22 07:51] #187 closed, assigned to nobody

[2022-07-04 16:29] EilidhRoss1 commented on #181
All pages in the site are now organized into the [aspirations doc](https://docs.google.com/document/d/1WJz3llHqBOLLBBvUa2DhSTKphEMg64X79cSOvWxBYjk/edit#heading=h.y4v9gfdqcp0n) - except those concepts which don't contribute anything to any claim and which will go in an organized glossary section. All concepts have been categorized as economics, finance, tech, ideology, or social phenomena (open to

[2022-07-08 07:20] rufuspollock commented on #152
@olayway one issue with making the heading itself into a link is that you can't have links in the heading ... (i think this is the reason most people have a hover effect with actual link item outside of the text e.g. on the left as an icon). Examples of this behaviour on the news page https://web3.lifeitself.us/notes/news

[2022-07-14 05:46] rufuspollock commented on #148
@stevesong following up 🙂

[2022-07-14 05:55] rufuspollock commented on #181
I would be happy to see editing in line with this.

[2022-07-15 08:20] theo-cox commented on #181
Great! @catherinet1 and @EilidhRoss1 could you then action the changes you've flagged as necessary? We can then push the guide live! For ones about references etc Zotero should have lots of good stuff, but if you're unsure of anything then please do let me know. We can also discuss issues in Labs tactical next Tuesday

[2022-07-27 11:23] EilidhRoss1 commented on #181
All claims pages have been appropriately fixed. The [guide](https://docs.google.com/document/d/1WJz3llHqBOLLBBvUa2DhSTKphEMg64X79cSOvWxBYjk/edit#) is up to date will all pages. I think we're moving onto the next stage which would be getting feedback from Theo and Rufus and then putting the guide into markdown and getting it up on the site!

[2022-07-28 11:11] theo-cox commented on #181
Having had a brief skim this looks great @EilidhRoss1 well done! My one comment would be its probably worth having a small sub-heading to separate the evaluation from the description. Other than that I'd say let's get it up asap!

[2022-08-01 11:04] catherinet1 opened #191 "Fix images which are not showing"
### Job stories
When I'm browsing a site I want all images to be showing correctly so that I understand the content and don't worry that I'm missing something because the content is unfinished

### Acceptance

- [ ] Images currently showing as "![[Pasted image XXXXXXX.png]]" are fixed to show the intended image

### Tasks

- [ ] ...

### Notes
There are some pasted images, e.g. on notes pages, whi

[2022-08-01 11:14] catherinet1 commented on #181
Updated Fix notes pages task.

[2022-08-01 11:19] catherinet1 commented on #181
Added

Added sub-heading to separate evaluation from description

[2022-08-01 14:05] rufuspollock commented on #191
@khalilcodes could we prioritize this as a fix into the remark-wiki-links plugin to support transcluded images as per https://github.com/flowershow/remark-wiki-link-plus/issues/1

[2022-08-02 08:27] theo-cox commented on #181
Great thanks @catherinet1! Really excited to see the finished product up on the site. You and @EilidhRoss1 have done an excellent job

[2022-08-02 09:30] khalilcodes commented on #191
@rufuspollock @catherinet1 started to work on this fix

[2022-08-09 19:51] claire-me commented on #74
Hey, @rufuspollock I would love to work on this if this hasn't been fixed

[2022-08-10 06:33] rufuspollock commented on #74
Great @claire-me please go ahead. Suggest starting by outlining briefly what you plan to do based on suggestions here and your ideas.

[2022-08-13 12:59] claire-me commented on #74
Hey, @rufuspolIock I will first move the README content to notes and create a new root README to explain the projects briefly. How's that?

[2022-08-15 12:24] rufuspollock commented on #74
@claire-me that sounds good. i suggest starting with the second point and maybe drafting an outline of the new readme content in a public hackmd

[2022-09-07 15:57] rufuspollock opened #192 "Web3 and Crypto Claims Database"
Create a comprehensive claims database listing the claims we have identified, their link to aspirations and status on evaluation

## Job Stories

Focus is on first one atm!

[Editor] When building the guide i want to know what claims there are and whether we have analyzed them to what status so that i can organize the guide and plan final work

[Contributor] When doing analysis I want to know what

[2022-09-07 16:47] rufuspollock opened #193 "[epic] Guide v2 providing an intro and overview of claims"
## Acceptance

* [ ] OVERALL: Each claim featured on guide is in "good" state i.e. clear thesis and evaluation (that we are happy with)
* [x] Database of all claims
* [ ] Finalize the prioritized claims
  * [x] Meta
    * [x] What does a claim page look like (at least key part) **✅2022-09-14 #196 **
    * [x] For each claim do summary and evaluation etc
  * [ ] Each claim
    * [x] Neo-metallism Y

[2022-09-07 16:48] rufuspollock commented on #181
FIXED. I'm going to mark this as fixed and see follow up in parent epic #193

[2022-09-07 16:48] #181 closed

[2022-09-07 16:59] rufuspollock commented on #192
Making progress mapping existing materials against claims taxonomy 🎉

![image](https://user-images.githubusercontent.com/180658/188936639-9c95e292-8974-4c94-aff2-2de9b6614c28.png)

![image](https://user-images.githubusercontent.com/180658/188936756-fce1647a-a1d8-4539-ba1b-70e604f5fb39.png)

[2022-09-09 14:28] rufuspollock commented on #192
FIXED. We have done this, see https://docs.google.com/spreadsheets/d/12Yh1kuxH4uoposLUJsJifM2W_zixkAhlc7QgcKavfls/edit#gid=717497239

[2022-09-09 14:28] #192 closed

[2022-09-14 08:10] rufuspollock opened #195 "[inbox] Transcribing episodes / interviews"
Transcribe and publish each of our episodes e.g. https://web3.lifeitself.us/notes/samer-hassan

For each of our interviews we can publish a proof-edited transcript so that content is readable (not just listenable) and e.g. annotable, linkable, reusable (in others parts of wiki)

* Probably don't need this for episodes like deep dives with extensive notes

Process:

* [ ] Do an automated transcript

[2022-09-14 08:21] EilidhRoss1 commented on #193
@rufuspollock I realized after pushing my edits to the fintech claim page that I didn't change the title to reflect the claim (currently still has the title from the deep dive). So flagging that as a TODO, wasn't sure if I could go back and make that edit after submitting the pull request.

[2022-09-14 08:31] rufuspollock commented on #193
@EilidhRoss1 great job. can you add links to commit or pull request for changes so it is easier for me to review them. I've started adding above so you can see what i mean.

[2022-09-14 11:22] rufuspollock opened #196 "Standard structure for claims"
When creating a claim page I want to know how to structure so i am assisted in my writing and have correct info

## Acceptance

- Standard structure for thesis and evaluation
- Standardize structure for frontmatter
- Referencing for claims

## Tasks

* [x] lay out analytical structure
* [x] set out frontmatter structure
* [ ] references
  * [x] structure
  * [ ] process of importing back into obsi

[2022-09-14 11:26] rufuspollock opened #197 "Convert editor guide into markdown and publish on site"
merge gdoc content linked from https://web3.lifeitself.us/meta/editing into the site

Why convert from google docs?

- consistent with rest of the site
- Can edit in standard way via pull requests
- consistent styling
- one less click
- can link to other parts of site using standard obsidian style
- will reuse on other projects

## Acceptance

* [x] Guide is all on site ✅ https://web3.lifeitself.o

[2022-10-17 10:58] EilidhRoss1 opened #208 "Proof-edit Samer Hassan episode transcription"
We have generated a transcription for our Samer Hassan episode using Otter. Find the transcription [here](https://web3.lifeitself.us/notes/samer-hassan). The transcription now needs edited

## Acceptance

- [ ] Transcription has been proof edited

[2022-10-17 11:13] EilidhRoss1 opened #209 "Proof-edit Jeff Emmett episode transcription"
We have generated a transcription for our Jeff Emmett episode using Otter. Find the transcription [here](https://web3.lifeitself.us/notes/jeff-emmett-on-regenerative-finance). The transcription now needs edited.

## Acceptance

- [ ] Transcription has been proof edited

[2022-10-19 14:35] rufuspollock commented on #209
@EilidhRoss1 normally to be able to do the proof-editing it is much better to have the text plus the audio together - as otter provide in their interface. Is there any way to provide access to that (e.g. grant you make a transcription editable by any signed in user in otter or something like that?). If not, people can just listen i guess and tidy at the same time.

I've also refactored the task a

[2022-11-14 13:50] EilidhRoss1 opened #210 "Reflections on Crypto Post FTX collapse with Stephen Diehl"
Publish latest episode with Stephen Diehl: "Reflections on Crypto Post FTX collapse"

## **Acceptance**

- [x] Rufus and Stephen have been updated that conversation is ready to be published on YouTube and Anchor.
- [x] Page stub has been made and URL generated ✅ **[Published 15/11/22](https://web3.lifeitself.org/notes/post-ftx-collapse)**
- [x] Conversation published on Youtube & Anchor ✅ **Publis

[2022-11-16 08:28] theo-cox opened #211 "Merging KlimaDAO pages"
We have 2 KlimaDAO related pages: https://web3.lifeitself.org/claims/can-solve-collective-action-problem and https://web3.lifeitself.org/notes/klimadao.finance

Along with our new analysis of the public goods problem which references Klima: https://web3.lifeitself.org/claims/can-solve-public-goods-problem

## Acceptance

- [ ] There is 1 single page for KlimaDAO analysis/deep dive
- [ ] Public goo